# UI
BASE_URL_UI=https://demoqa.com
BASE_URL_SAUCE=https://your-saucedemo-url
SAUCE_PASSWORD=your_sauce_password
SAUCE_STANDARD_USER=your_standard_user
SAUCE_PROBLEM_USER=your_problem_user
BASE_URL_INTERNET=https://the-internet.herokuapp.com

# API (reserved for upcoming tasks)
BASE_URL_API=https://jsonplaceholder.typicode.com
BASE_URL_DUMMYJSON=https://dummyjson.com
API_TOKEN=replace_me
